# Build directory
build/

# VSCode settings
.vscode/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Other
*.log
*.tmp
